
/** 
 * global
 */
a{color:#1184b2;text-decoration:none;-moz-transition: all .15s linear;-webkit-transition: all .15s linear;transition: all .15s linear;}
a:hover,a:active,a:focus{color:#E04D2F;}
.hide{display: none;}
.left{float: left;}
.right{float: right;}
.status-tip{
	padding: 10px;
}
body{
	padding: 10px;
}
#spe-fm{
	display: none;
	position: relative;
	background: rgb(248,248,248);
	border: 5px dashed rgba(0,0,0,.3);
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 10px;
	text-align: center;
}
	#spe-fm:hover{
		background: rgb(240,240,240);
		border-color: rgba(0,0,0,.5);
	}
#spe-upload-btn{
	display: block;
	text-align: center;
	padding: 40px 0;
}
#spe-file{
	position: absolute;
	right: -10px;
	top: -10px;
	font-size: 99em;
	opacity: 0;
	cursor:pointer;
}
.alert{
	padding: 10px;
	margin-bottom: 10px;
}
#files-container{
	border-radius: 4px;
	overflow: hidden;
}
#progress{
	position:relative;
}
#progress-bar{
	position:absolute;
	bottom:0;
	left:0;
	width:0;
	height:2px;
	background:rgb(51, 122, 183);
	border-radius:50%;
}
.tpl{
	padding: 10px;
	overflow:hidden;
}
.tpl:hover,
.tpl:nth-child(odd):hover{
	background: #337ab7;
}
.tpl:nth-child(odd){
	background:#d9edf7;
}
.tpl:first-child{
	background: #dff0d8;
}
.img-link{
	float:left;
	width: 80px;
	height:80px;
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	margin-right:10px;
}
	.img-link:hover{
		box-shadow: 0 1px 3px red;
	}
.img-preview{
	max-width: 100%;
	max-height: 100%;
	border-radius:2px;
}

.controls{
	overflow:hidden;
}
.form-control{
	width:100%;
	height:39px;
	border:1px solid #ccc;
	padding-left:10px;
}
	.form-control:focus{
		background:rgb(248,248,248);
	}
.img-url{
	position: relative;
	border-radius: 4px 4px 0 0;
}
	.img-url:focus{
		z-index: 1;
	}
select.form-control{
	position: relative;
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
}
	select.form-control:focus{
		z-index: 1;
	}

.alert{
	position:relative;
	overflow:hidden;
	border-radius:3px;
	border:1px solid rgba(0,0,0,.1);
}
	.alert-success{
		background:rgb(223,240,216);
	}
	.alert-danger,
	.alert-error{
		background:rgb(242,222,222);
	}
	.alert-loading{
		background:rgb(248,248,248);
	}
		.alert-loading:before{
			width:20px;
			height:20px;
			background:rgb(200,200,200);
			display:inline-block;
			vertical-align:middle;
			border-radius:50%;
			content:'';
			margin-right:10px;
		}
		.alert-loading:after{
			position:absolute;
			left:20px;
			top:21px;
			width:5px;
			height:5px;
			background:white;
			vertical-align:middle;
			border-radius:50%;
			content:'';
			-webkit-animation-name: spinner;
			-webkit-animation-duration: 1s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			-webkit-transform-origin:50% 47%;
			animation: spinner 1000ms infinite linear;
			transform-origin:0 0;
		}
		@-webkit-keyframes spinner{
			from {-webkit-transform:rotate(0deg);}
			to {-webkit-transform:rotate(360deg);}
		}
		@keyframes spinner{
			0%{transform: rotate(0deg);}
			100%{transform: rotate(360deg);}
		}

